<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container">
      <a class="navbar-brand" href="#">
          <img src="../../assets/aerolab-logo.svg" width="30" height="30" alt="">
        </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <span class="navbar-text">
            <h4 *ngIf="user as u ;">{{u.name}} <span class="badge badge-light align-middle ml-3"
              (click)="dialogPoints()"><img src="../../assets/icons/coin.svg" alt=""> {{u.points}} <mat-icon
                class="align-middle">add</mat-icon></span>
          </h4>
          </span>
      </div>
  </div>
    
  </nav>