
<div *ngIf="!pointsLoading; else loading">
  <h1 mat-dialog-title>¿Cuántas monedas deseas agregar?</h1>
  
  <div mat-dialog-content>
    <div class="m-container">
      <form [formGroup]="pointsForm">
          <mat-form-field >
              <mat-select placeholder="Elige una opción" formControlName="amount">
                <mat-option value=1000>1000</mat-option>
                <mat-option value=5000>5000</mat-option>
                <mat-option value=7500>7500</mat-option>
              </mat-select>
            </mat-form-field>
      </form>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-button mat-stroked-button color="primary" (click)="onSubmit()">Agregar</button>
  </div>
</div>

<ng-template #loading>
    <mat-spinner class="mx-auto" diameter="60"></mat-spinner>
</ng-template>
