<div class="bg-cat">
  <div class="container">
    <div class="row align-items-end no-gutters">
      <h1>Electronics</h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="row align-items-center mt-5 ">
    <div class="col-md-8 col-9 filter" id="sorts">
      <p>Sort by: <span class="badge-sort badge badge-light " [ngClass]="{'badge-active': sortLow}" (click)="sortToHigh()">Lowest price</span> <span
          class=" badge-sort badge badge-light" [ngClass]="{'badge-active': sortHigh}" (click)="sortToLow()">Highest price</span>
      </p>
    </div>
    <div class="col-md-3 col-3 pagination">
      <pagination-controls  responsive="true" autoHide="true" previousLabel="" nextLabel="" (pageChange)="p = $event">
      </pagination-controls>
    </div>
    <!-- <div class="col-md-12 col-6 mb-5 text-right">
      <button mat-button color="primary" class="pr-0" [matMenuTriggerFor]="filterProducts">
        Sort
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
      <mat-menu #filterProducts="matMenu" xPosition="before">
        <button mat-menu-item (click)="sortToLow()">
          <span>Highest to lowest</span>
        </button>
        <button mat-menu-item (click)="sortToHigh()">
          <span>Lowest to highest</span>
        </button>
      </mat-menu>
    </div> -->

  </div>
<hr>
</div>

<div class="container">
  <div class="row no-gutters">
    <mat-spinner class="mx-auto mt-5" *ngIf="isLoadingProducts" diameter="60"></mat-spinner>
    <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4 mt-5"
      *ngFor="let product of products | paginate: { itemsPerPage: 16, currentPage: p } ; index as i;">
      <div class="card">
        <div class="card-body">
          <img class="img-fluid" src="{{product.img.url}}" alt="">
          <hr>
          <small>{{product.category}}</small>
          <h6>{{product.name}}</h6>
          <mat-spinner class="mx-auto" *ngIf="isLoadingProducts" diameter="60"></mat-spinner>
          


          <mat-spinner class="mx-auto" *ngIf="redeeming && indexLoader == i" diameter="25"></mat-spinner>
          <!-- <button mat-stroked-button *ngIf="totalMonedas < product.cost" color="warn" class="w-100" disabled>Add
                {{product.cost - totalMonedas}} to exchange</button> -->
          <!-- <span class="text-danger" *ngIf="totalMonedas < product.cost">* Add {{product.cost - totalMonedas}} to exchange</span> -->
        </div>
        <div style="margin-left: -16px">
          
          <div class="product-hover">

          </div>
          <div *ngIf="totalMonedas > product.cost" class="icon-buy" ></div>
          <div class="notToBuy" *ngIf="totalMonedas < product.cost"><span class="badge badge-secondary">You need {{product.cost - totalMonedas}} <img src="../../assets/icons/coin.svg" style="width: 20px" alt=""></span></div>
          <h3 class="cost mt-3 mb-4">{{product.cost}}<img src="../../assets/icons/coin.svg" alt=""></h3>
          <button mat-raised-button *ngIf="totalMonedas > product.cost && !redeeming" color="primary"
            (click)="canjear(product._id, i)">Redeem now</button>
        </div>

      </div>
    </div>
    <div class="col-md-12 text-right mt-4 pagination">
      <pagination-controls  responsive="true" previousLabel="" nextLabel="" autoHide="true" (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
  <hr>
</div>


