h1{
    margin-bottom: 50px;
    color: white;
    font-size: 36px
}
h2{
    margin: 0;
}
h6{
    margin:0;
    font-size: 14px;
    color: rgb(0, 0, 0,0.5)
}
small{
    color: rgba(0, 0, 0, 0.432)
}
.card{
    box-shadow: 0 .125rem .65rem rgba(0,0,0,.075);
    padding: 16px;
    margin: 0 10px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    position: relative;
    max-height: 240px;
}

.card-body{
    padding: 16px
   
}
.card .product-hover{
    position: absolute;
    width: 100%;
    background: #15DBFE;
    top: 0;
    height: 273px;
    opacity: 0;
    transition: 0.2s ease-in-out;
}
.card button{
    position: absolute;
    top: 50%;
    width: 90%;
    opacity: 0;
    margin-left: 11px;
    transition: 0.2s ease-in-out;
    background: white;
    color: rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    box-shadow: none;
}
.card:hover .product-hover{
    opacity: 0.8;   
}
.card:hover button{
    opacity: 1;   
}
.card h3{
    position: absolute;
    top: 25%;
    opacity: 0;
    transition: 0.2s;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 26px
}
.card:hover h3{
    opacity: 1;
}
.card .icon-buy{
    position: absolute;
    background-image: url(../../assets/icons/buy-blue.svg);
    width: 45px;
    height: 45px;
    background-repeat: no-repeat;
    top: 10px;
    right: 10px;
}
.card:hover .icon-buy{
    background-image: url(../../assets/icons/buy-white.svg);
}
.card .notToBuy{
    position: absolute;
    top: 10px;
    right: 10px;
}
.badge-secondary {
    color: #fff;
    background-color: #6c757d85;
    padding-left: 11px;
    padding-right: 6px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 11px;
    font-weight: 100;
    border-radius: 30px
}
.bg-cat{
    background-image: url('../../assets/header-x1.png');
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat
}
.bg-cat .row{
    height: 500px;
}
.badge{
    margin-left: 12px
}
.filter p{
    margin: 0
}
.filter span{
    font-size: 16px;
    font-weight: 400;
    padding: 12px 14px;
    border-radius: 20px;
    cursor: pointer;
}
.filter .badge-active{
    background: rgb(32, 226, 252);
    color: white;
}
.pagination{
    text-align: right
}
@media (max-width: 1200px){
    .card .product-hover{
        height: 240px;
    }
    .bg-cat{
        background-position: 80% 50%
    }
}
@media (max-width: 768px){
    .card .product-hover{
        height: 263px;
    }
    .bg-cat{
        background-position: 80% 50%
    }
}
@media (max-width: 575px) {
    .bg-cat{
        height: 300px;
        background-position: 80% 50%
    }
    .bg-cat .row{
        height: 300px;
    }
    .filter span{
        font-size: 12px;
        font-weight: 400;
        padding: 12px 14px;
        border-radius: 20px;
        cursor: pointer;
    }
    h1{
        margin-left: 16px
    }
    .card{
        margin-right: 34px;
        margin-left: 10px;
        height: 270px;
        max-height: 270px
    }
    .card .product-hover{
        height: 303px;
    }
    .pagination{
        margin-right: 20px;
        text-align: right
    }
  }