<div class="row mt-5">
  <div class="col-md-6 mb-5">
    <h2>Productos</h2>
  </div>
  <div class="col-md-6 mb-5 text-right">
    <button mat-button color="primary" [matMenuTriggerFor]="filterProducts">
      Filter
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
    <mat-menu #filterProducts="matMenu" xPosition="before">
      <button mat-menu-item (click)="sortToLow()">
        <span>Highest to lowest</span>
      </button>
      <button mat-menu-item (click)="sortToHigh()">
        <span>Lowest to highest</span>
      </button>
    </mat-menu>
  </div>
  <mat-spinner class="mx-auto" *ngIf="isLoadingProducts" diameter="60"></mat-spinner>
  <div class="col-md-3 mb-4" *ngFor="let product of products | paginate: { itemsPerPage: 12, currentPage: p } ; index as i;">
    <div class="card">
      <div class="card-body">
        <small>{{product.category}}</small>
        <h6>{{product.name}}</h6>
        <img class="img-fluid" src="{{product.img.url}}" alt="">
        <mat-spinner class="mx-auto" *ngIf="isLoadingProducts" diameter="60"></mat-spinner>
        <h3 class="mt-3 mb-4"><img src="../../assets/icons/coin.svg" alt="">{{product.cost}}</h3>
        <button mat-raised-button *ngIf="totalMonedas > product.cost" color="primary" class="w-100" (click)="canjear(product._id)">Claim</button>
        <button mat-stroked-button *ngIf="totalMonedas < product.cost" color="warn" class="w-100" disabled>Add {{product.cost - totalMonedas}} to exchange</button>
        <!-- <span class="text-danger" *ngIf="totalMonedas < product.cost">* Add {{product.cost - totalMonedas}} to exchange</span> -->
      </div>
    </div>
  </div>
  <div class="col-md-12 text-right mt-4">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>